<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orb 2</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div ng-app="orb" ng-controller="appCtrl">
    <div>
        <open-folder data-button-name="New Project" data-role="new"></open-folder>
        <open-folder data-button-name="Open Project" data-role="open"></open-folder>
    </div>

    <div>
        <div>
            <button ng-click="saveProject()">Save</button>
            <button ng-click="closeProject()">Close</button>
        </div>
        <dnd></dnd>
        <div ng-repeat="screen in screens track by screen.id" class="screen">
            <div class="image">
                <img ng-src="{{ imagePath + screen.name }}" alt="" class="screen"/>
            </div>
            <span>{{ screen.name }}</span>
            <button ng-click="removeScreen(screen)">delete</button>
        </div>
    </div>
</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/lodash/dist/lodash.js"></script>

<script src="app.js"></script>
<script src="controller.js"></script>
<script src="screen.js"></script>
<script src="dnd.js"></script>
<script src="folder.js"></script>
<script src="project.js"></script>


</body>
</html>