#holder {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
    z-index: -1000;
}

.screen{
    float: left;
}

.screen .image {
    width: 100px;
    height: 100px;
    border: 1px solid #444;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.image img {
    width: 300px;
    position: relative;
    top: -20px;
    left: -20px;
}

input[type="file"] {
    display: none;
}